
//estilos menu
.portfolio-logo-row {
  min-height: 200px;
}


.portfolio-navigation-row  .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.portfolio-navigation-row .mdl-navigation__link {
          flex: 1;
  line-height: 42px;
  border-radius: 20px;
}


/*background navbar*/
.mdl-layout__header--waterfall {
    box-shadow: none;
    overflow: hidden;
    background-color: $fondo !important;
}
.mdl-navigation__link {
    color: white !important;
}
/*IMG*/
.mdl-navigation__link img {
    border-radius: 50%;
}
.mdl-navigation__profile{
    background-color: #203748;

}

/*SECTION BOX*/
.content-grid {
  max-width: 960px;
}

.content-grid--text{
		width:300px;
		height:300px;
		border-radius: 50%;
		margin-top: 40px;
}

.section__ball-btn{
        background-color:gray;
	    height:300px;
        border-radius: 50%;
}

/*Button*/
.mdl-button--primary.mdl-button--primary{
    color: white;
    border-radius: 40px;
    background-color: $green-button;
    width: 250px;
    height: 50px;
    padding: 5px 10px;
    border-radius: 40px;
}
/*Cards*/
.mdl-card__supporting-text{
    h2{
    color: $green-button;
    }
    
    h3,p{
    color: white;
    }

}

.mdl-card{
background-color: $blue-style;
}
.mdl-card_text{
    color: $blue-style;
    margin-left: 37%;
    margin-top: 40%;
    }
.mdl-layout__grid{
padding-top: 30px;
}

/*Social media*/
.social-media{
    font-size: 30px; 
    display: flex;

    .social-media-facebook{
    color: #4260a1; 
    padding-right: 20px;
  
    }
    .social-media-twitter{
        color: #37b7f3;
        padding-right: 20px;
    }
    .social-media-google{
        color: #c14639;
        padding-right: 20px;
    }
    .social-media-pinterest{
        color: #ff512b;
        padding-right: 20px;
    }
    .social-media-stumbleupon{
        color: #ff512b;
        padding-right: 20px;
    }
    .social-media-bem{
        color: #f65a91;
        padding-right: 20px;
    }

}

